[run]
source =
    apps
    config
omit =
    */tests/*
    */test_*.py
    */tests.py
    */migrations/*
    */legacy/*
    */ui/*
    */docs/*
    */static/*
    */staticfiles/*
    */htmlcov/*
    */__init__.py
    */urls.py
    */web_urls.py
    */apps.py
    */admin.py
    */manage.py
    */wsgi.py
    */asgi.py
    */config/settings/local.py
    */config/settings/production.py

[report]
skip_covered = True
show_missing = True
