# Django
SECRET_KEY=your-secret-key-here-generate-with-get_random_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# Database
DATABASE_URL=postgres://username:password@localhost:5432/house

SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
USE_X_FORWARDED_PROTO=False

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
